@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    width: 100%;
}

.nav-stickly {
    background-color: #000000c6;
    position: sticky;
    color: #ffffff;
    top: 0;

}

.nav-box {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-box-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-box-item:nth-child(1) {
    justify-content: flex-start;
    gap: 1rem;

}

.nav-box-item:nth-child(2) {
    column-gap: 3rem;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.nav-link-lg {
    font-family: "Source Code Pro", Arial, monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 2.2vw;
    color: #ffffff;
    text-decoration: none;
}

.span-offset {
    width: 6px;
    height: 4vh;
    background-color: #ffffff;
}

.nav-link-a-lg {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 1.8vw;
    font-size: bold;
    color: #ffffff;
    text-decoration: none;
}

a.nav-link {
    font-family: "Nunito", Arial, sans-serif;
    font-size: 2.4vh;
    font-style: italic;

}

a.nav-link:hover {
    font-weight: 700;
    padding: 1px;
    border-bottom: 0.6vh solid #ffffff;
    transition: 0.2s;

}

.btn-contact-us {
    text-align: center;
    font-size: 2.2vh;
    font-family: "Nunito", Arial, sans-serif;
    padding: 10px 20px 10px 20px;
    border: 2px solid #ffffff;
    border-radius: 1.9rem 1.9rem 1.9rem;
    text-decoration: none;
    color: #ffffff;
}

.btn-contact-us:hover {
    background-color: #ffffff;
    font-weight: bold;
    color: #000000;
    transition: 0.2s;
}

.icon>img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}

.banner-top {
    background-color: #ffffff;
    background-image: url('../assets/banners/banner-top.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 87.5vh;

}

.banner-top-box {
    flex-direction: column;
}

.span-banner-top:nth-child(1) {
    font-size: 8vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.span-banner-top:nth-child(2) {
    margin-top: -70px;
    margin-bottom: -2vh;

    font-size: 10vw;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-style: normal;
}



.span-banner-top:nth-child(2):after {
    content: '';
    display: inline-block;
    background-color: white;
    height: 16vh;
    width: 4px;
    animation: cursor 0.6s infinite;
}

/* The typewriter cursor effect */
@keyframes textEffect {
    0% {
        color: #00c3ff;
        text-shadow: 0px 0px 2px #ffffff;

    }

    50% {
        color: #ffffff;
        text-shadow: 0px 0px 3px #00c3ff;
    }

    100% {
        color: #00c3ff;
        text-shadow: 0px 0px 2px #ffffff;

    }

}

@keyframes cursor {
    0% {
        opacity: 1;

    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.banner-top-description {
    text-shadow: 1px 2px 3px #000000;
    text-align: left;
    width: 60vw;
    font-size: 1.5vw;
    font-family: 'Nunito', Arial, sans-serif;
    font-style: italic;
}


::-webkit-scrollbar {
    width: 8px;
    background-color: #111111;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(0, 255, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(0, 105, 112);
}

main {
    background-color: #ffffff;
    width: 100%;
}

.title-style {
    font-family: "Kanit", sans-serif;
    font-size: 3.5rem;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-style: normal;
}

.box-section {
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.section1-container-item {
    background-image: linear-gradient(to bottom, #7edfcf, #b8fff8);
    width: 23rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 30px;

}

.section1-container-item>img {
    border-radius: 30px 30px 30px;
}





footer {
    padding: 5rem 0 1rem 0;
    background-color: #000000;
    height: auto;
}


.footer-menu {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer-menu>img {
    mix-blend-mode: overlay;
}

.footer-menu>a {
    text-align: start;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 3px 0 3px 10px;
    font-style: italic;
}

.footer-menu>a:hover {
    border-left: 3px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    font-style: normal;
}

.footer-menu-social {
    display: flex;
    align-items: center;
    column-gap: 2px;
}

.nav-link-lg-2 {
    font-family: "Source Code Pro", Arial, monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-size: 1vw;
    color: #ffffff;
    text-decoration: none;
}