.list-group-item > div > .row > .col-3{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.list-group-item > div > .row > .col-9{ 
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}

.title-style-3 {
    text-align: justify;
    width: 100%;
}

.p-tech {
    font-size: 17px;
}

.img-tech{
    width: 40%;
}